/* components/page.module.css */

body {
  font-family: 'Skyscapers', sans-serif;
  margin: 0;
  overflow: hidden;
}

html, body, #__next {
  height: 100%;
}

.bodyStyles {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}



/* ... (other styles) */
